
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
} 

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
} 

@font-face {
  font-family: "Montserrat-500";
  src: url("../fonts/Montserrat500.ttf");
} 

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplayRegular.ttf");
}  


html {
  height: 100%;
  line-height: 1.8;
}

body{
  height: 100%;                
  background: #ffffff;          
} 

.fontMontserrat{
  font-family: 'Montserrat-Regular', sans-serif; 
}

.fontMontserratLight{
  font-family: 'Montserrat-Light', sans-serif; 
}

.fontMontserrat500{
  font-family: 'Montserrat-500', sans-serif; 
}

.fontOpenSans{
  font-family: 'OpenSans-Regular', sans-serif; 
}

.fontPlayfair {
   font-family: 'PlayfairDisplayRegular', sans-serif;
}

.verde-muy-oscuro {
  color: #506c34;
}
.verde-oscuro {
  color: #76871E;  
}

.verde-medio {
  color: #A8AD00;
}

.verde-claro {
  color: #C2C54C;
}

.separador {
  width: 100%;
  height: 40px;
}

.separador-gris {
  width: 100%;
  height: 40px;
  background-color: rgb(201, 196, 196);
}

.barra-logo {
  text-align: center !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.logo {
  width: 70px;
}

.imagenDA {
  width: 250px;
}

.textoDA {
  font-weight: bold; 
  font-size: 0.7rem; 
  letter-spacing: 2px;
}

.sidebar {
  width: 35% !important;
  font-family: 'Montserrat-Regular', sans-serif !important;
  opacity: 1; 
  background-color:#ffffff; 
  transition: 1.5s;
}

.burger {
  width: 100px; 
  padding-right: 30px; 
}

.cruz {
  padding-top: 50px;
  padding-right: 50px;
}

.cruz-sidebar {    
  background: linear-gradient(90deg, #C2C54C, #76871E, #000000);
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  width: 100px;  
}

.cruz-sidebar:hover {    
  background: linear-gradient(90deg, #000000, #76871E, #C2C54C);
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
}

li {  
  width: 100%;
}

.sidebar-item {
  font-family: 'Montserrat-Regular', sans-serif !important;
  font-size: 1.1rem; 
  text-decoration: none;
  color:#242c34;    
  transition: 1s;
  padding: 16px 8px;
  display:inline-block;
  width: 100%;
}


.sidebar-item:hover {
  background-color: black !important;
  background-image: linear-gradient(135deg, #76871E,#ffffff);
  background-size:100%; 
  width: 100%;
}


.icono-sobre-imagen {
  position: absolute;
  top: 30px;
  right: 70px;
}

.whatsapp-carousel {
  font-size: 3rem !important; 
  color:#ffffff !important;
}

.whatsapp-carousel-verde {
  font-size: 3rem !important; 
  color:#76871E !important;
}

.texto-home {
  position: absolute;
  top: 200px;
}

.nos-encontramos-home {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 3rem;
  color: #ffffff;
  line-height: 0.9;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.en-la-provincia-home {
  font-family: 'Montserrat-Light', sans-serif ;    
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 1px;  
}

/* tiempo entre cada slide */
.carousel-item {
  transition: transform 3s ease-in-out;  
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 3s;  
}

/* NUESTRA EMPRESA */

.titulo-fundador {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 2.8rem;
  color: #000000;
  line-height: 0.9;
  letter-spacing: 1px;
}

.texto-fundador {
  font-family: 'Montserrat-500', sans-serif ;    
  font-size: 1rem;
  line-height: 1.5;
  color: #76871E;  
}

.bg-fundador {
  background-image: url(../images/fundador.jpg); 
  background-size: cover;
  height: 600px;
}

.texto-fundador-ejemplo {
  font-family: 'PlayfairDisplayRegular', sans-serif;
  font-size: 1.8rem; 
  color:rgb(80, 77, 77);
  padding-top: 150px;
  padding-left: 550px;
}

.cita-fundador {
  padding-left: 550px;
  margin-top: 20px;
}

.inchausti-fundador {
  font-family: 'PlayfairDisplayRegular', sans-serif;
  font-size: 1.1rem;
  font-style: italic; 
  font-weight: bold;
}

.boton{
  font-family: 'PlayfairDisplayRegular', sans-serif ;  
  font-size: 1.4rem; 
  padding: 10px;
  border: 0px;
  color: black;
  font-weight: bold;
  display: inline-block;
  transition: 0.9s;
  box-shadow: 0px 1px 3px gray;
  width: 250px !important; 
  background-color: #d3d3d3; 
}

.boton:hover{
  transform: scale(1);
  letter-spacing: 2px;
  background-color: #d3d3d3;
  color: #506c34;
}

/* fondo */
.oregano {
  background-image: url("../images/recorte.png");
  background-repeat: repeat;
  background-size: 100%;  
}

.div-imagen-excelencia {
  padding-top: 15%; 
  width: 110%; 
  z-index:2; 
  position: relative;
}

.div-imagen-trayectoria {
  padding-top: 15%; 
  width: 110%; 
  z-index:3; 
  position: relative; 
  margin-left: -10%;
}

/* cuadros verdes */
.padding-lr-cuadros-verdes {
  padding-left: 12%; 
  padding-right: 12%;
}

.padding-bt-cuadros-verdes {
  padding-top: 12%; 
  padding-bottom: 12%;
}

.titulo-excelencia {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 2.8rem;
  color: #ffffff;
  line-height: 0.9;
  letter-spacing: 1px;
}

.texto-excelencia {
    font-family: 'Montserrat-Light', sans-serif ;    
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 1px;  
}

.linea-blanca {
  background-color: #ffffff;
  height: 3px;
  max-width: 13%;  
  padding: 0;
  margin-left: 12%;
}

.cuadro-texto {
  font-family: 'OpenSans-Regular', sans-serif; 
  font-style: italic;
  font-size: 2rem;
  color:#ffffff;
  padding: 6%;
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 20%;  
  border: 3px solid;  
}

/* EL OREGANO */

.div-infaltable {
  display:flex; 
  flex-direction: column;
}

.infaltable {
  padding-left: 40px; 
  margin-right: 0px; 
  height: -webkit-fill-available;
}

.texto-infaltable {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-size: 2rem; 
  color: white;
}

.imagen-vapor {
  width: 100%; 
  height: -webkit-fill-available;
}

.imagen-oregano-horizontal {
  width: 100%; 
  padding-left: 30px; 
  height: -webkit-fill-available;
}

.texto-nos-define {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-style: italic; 
  font-weight: bold; 
  font-size: 1.8rem;
}

.cards-circulo {
  padding-left: 10%; 
  padding-right: 10%;
}

.cada-card-circulo {
  text-align:center; 
  color:transparent; 
  border: none;
}

.foto-circulo {
  width: 200px;
  height: 200px;        
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  /*border: 2px solid #242c34;;*/
}

.foto-cuidado {
  background-image: url(../images/cuidado.png);
}

.foto-hojas {
  background-image: url(../images/hojas.png);
}

.foto-amor {
  background-image: url(../images/amor.png);
}


.texto-circulo-verde {
  font-family: 'Montserrat-500', sans-serif ;    
  font-size: 1rem;
  line-height: 1.5;
  color: #76871E;  
  /*border-bottom: 2px solid  #76871E;
  margin:0px !important;*/
}
 
.linea-verde {
  background-color: #76871E;
  height: 3px;
  max-width: 70%;  
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
}

.texto-circulo {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-style: italic; 
  font-weight: bold; 
  font-size: 1rem;
  color:#000000;
}

/* CONTACTENOS */

.titulo-contactanos {
  font-family: 'Montserrat-500', sans-serif ;   
  font-size:3rem; 
  color: #76871E;  
  letter-spacing: 2px;
}

.cuadro-verde-contactanos {
  background-image: url(../images/fondo-verde-2.png); 
  color: #ffffff; 
  padding-left: 80px; 
  padding-right: 80px; 
  font-size: 1.4rem;
}

.icono-geo {
  font-size: 2rem; 
  font-weight:700;
}

.linea-blanca-larga {
  background-color: #ffffff;
  height: 4px;
  max-width: 100%;  
  padding: 0;
  margin-left: 0%;
  margin-bottom: 50%;
}

.cuadro-mapa {
  padding: 40px;
}

.pie-de-pagina {
  background-color: rgb(201, 196, 196);
  margin-top: 0px;
  padding: 30px;    
  --bs-gutter-x: 0rem;
}

.pipeline {
  color: #76871E;
  font-family: 'Montserrat-ExtraBold', sans-serif; 
  font-size: 1.2rem; 
}

.pie-item {
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
  text-decoration: none;
  color:#000000;
  }

.pie-item:hover {
  font-family: 'Montserrat-Regular', sans-serif ;  
  color: #76871E;
  font-weight: bold;
  background-color:transparent !important;
  border-bottom: solid 2px #76871E;    
}

.red-pie-de-pagina {
  font-size: 2rem; 
  color: white;   
}

.red-pie-de-pagina:hover {
  background: linear-gradient(90deg, #000000, #76871E, #C2C54C);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
}

 
.zoom {
  transition: transform .8s; 
}

.zoom:hover {
    transform: scale(1.2);      
}


/*--------------------------------------------- CELULAR -------------------------------------------------------*/

@media screen and (max-width: 771px) {

  .navbar {
    --bs-navbar-brand-margin-end: 0rem;
  }

  .barra-logo {
    text-align: left !important;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-left: 0px !important;
  }

  .logo {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .imagenDA {
    width: 200px;
  }
  
  .textoDA {
    font-weight: bold; 
    font-size: 0.8rem; 
    letter-spacing: 1px;
  }

  .burger {
    width: 70px; 
    padding-right: 15px;
  }

  .icono-sobre-imagen {
    /*position: absolute;
    top: 15px;
    right: 25px;*/
    display: none;
  }

  .texto-home {
    position: absolute;
    top: 40px;
  }
  
  .nos-encontramos-home {
    font-family: 'PlayfairDisplayRegular', sans-serif ;    
    font-size: 1.7rem;
    color: #ffffff;
    line-height: 0.9;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .en-la-provincia-home {
    font-family: 'Montserrat-Light', sans-serif ;    
    font-size: 0.8rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .titulo-fundador {
    font-family: 'PlayfairDisplayRegular', sans-serif ;    
    font-size: 1.8rem;
    padding-top: 15px !important;
  } 

  .texto-fundador {
    padding-left: 30px;
    padding-right: 30px;
  }
 
  .bg-fundador {
    background-image: url(../images/fundador.jpg); 
    background-size: cover;
    height: 200px;
  }

  .texto-fundador-ejemplo {
    font-family: 'PlayfairDisplayRegular', sans-serif;
    font-size: 0.7rem; 
    color:rgb(80, 77, 77);
    padding-top: 50px;
    padding-left: 160px;
  }
  
  .cita-fundador {
    padding-left: 160px;
    margin-top: 0px;
    width: 80% !important;
  }

  .inchausti-fundador {
    font-family: 'PlayfairDisplayRegular', sans-serif;
    font-size: 1.1rem;
    font-style: italic; 
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
  }

  .titulo-excelencia {
    font-family: 'PlayfairDisplayRegular', sans-serif ;    
    font-size: 2rem;
    padding-top: 10px !important;
  }
  
  .texto-excelencia {
      font-family: 'Montserrat-Light', sans-serif ;    
      font-size: 1rem;
      padding-right: 40px;
  }
    
  .div-imagen-excelencia {
    padding-top: 5%; 
    width: 100%; 
    z-index:2; 
    position: relative;
  }
  
  .div-imagen-trayectoria {
    padding-top: 0%; 
    width: 100%; 
    z-index:3; 
    position: relative; 
    margin-left: 0%;
  }

  .cuadro-texto {
    font-family: 'OpenSans-Regular', sans-serif; 
    font-style: italic;
    font-size: 1.2rem;
    color:#ffffff;
    padding: 6%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;  
    border: 3px solid;  
  }

  .imagen-oregano-horizontal {
    display: none;
  }

  .div-infaltable {
    width: 100%;
  }

  .infaltable {
    padding-left: 50px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .texto-infaltable {
    font-family: 'PlayfairDisplayRegular', sans-serif ; 
    font-size: 1.5rem; 
  }

  .texto-nos-define {
    font-family: 'PlayfairDisplayRegular', sans-serif ; 
    font-style: italic; 
    font-weight: bold; 
    font-size: 1.3rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .texto-circulo-verde {
    font-family: 'Montserrat-500', sans-serif ;    
    font-size: 1.3rem;
  }
   
  
  .texto-circulo {
    font-family: 'PlayfairDisplayRegular', sans-serif ; 
    font-style: italic; 
    font-weight: bold; 
    font-size: 1.2rem;
    color:#000000;
  }

  .titulo-contactanos {
    font-family: 'Montserrat-500', sans-serif ;   
    font-size:2rem; 
  }

  .linea-blanca-larga {
    margin-bottom: 10%;
  }

}


/*------------------------ PANTALLA HD -------------------------------------*/
@media screen and (min-width:1441px) {

  .separador {
    width: 100%;
    height: 70px;
  }

  .separador-gris {
    width: 100%;
    height: 70px;
    background-color: rgb(201, 196, 196);
  }
     
    .barra-logo {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 100px;
    }

    .logo {
      width: 120px;      
    }

    .imagenDA {
      width: 330px;
    }

    .textoDA {
      font-weight: bold; 
      font-size: 1rem; 
      letter-spacing: 2px;
    }


    .burger {
      width: 130px; 
      padding-right: 30px; 
    }
        
    .cruz {
      padding-top: 70px;
      padding-right: 60px;
    }

    .cruz-sidebar {
      font-size: 3.8rem;
    }
    
    .cruz-sidebar:hover {    
      font-size: 3.8rem;       
    }

    .sidebar-item {
      font-family: 'Montserrat-Regular', sans-serif;
      font-size: 1.7rem;
    }

    .letras-sobre-imagen-home {      
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 1px;
    }

    .icono-sobre-imagen {
      position: absolute;
      top: 40px;
      right: 75px; 
    }

    .whatsapp-carousel {
      font-size: 4rem !important; 
      color:#ffffff !important;
    }

    .whatsapp-carousel-verde {
      font-size: 4rem !important; 
      color:#76871E  !important;
    }
    

    .texto-home {
      position: absolute;
      top: 250px;
    }

    .nos-encontramos-home {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 15px;
    }

    .en-la-provincia-home {      
      font-size: 1.5rem;
    }

    /* NUESTRA EMPRESA */

    .titulo-fundador {
      font-size: 3.8rem;
    }

    .texto-fundador {  
      font-size: 1.8rem;
    }

    .bg-fundador {
      background-image: url(../images/fundador.jpg); 
      background-size: cover;
      height: 800px;
    }

    .texto-fundador-ejemplo {
      font-size: 2.5rem;      
      padding-top: 200px;
      padding-left: 750px;
    }

    .cita-fundador {
      padding-left: 750px;
      margin-top: 35px;
    }

    .inchausti-fundador {
      font-family: 'PlayfairDisplayRegular', sans-serif;
      font-size: 2rem;
    }

    .boton{
      font-family: 'PlayfairDisplayRegular', sans-serif ;  
      font-size: 2.4rem; 
      padding: 12px; 
      width: 400px !important;
    }

    /* cuadros verdes */

    .titulo-excelencia {
      font-family: 'PlayfairDisplayRegular', sans-serif ;    
      font-size: 3.8rem;
    }

    .texto-excelencia {
        font-family: 'Montserrat-Light', sans-serif ;    
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 1px;  
    }

    .cuadro-texto {
      font-family: 'OpenSans-Regular', sans-serif; 
      font-style: italic;
      font-size: 2.8rem;
    }
      
    /* EL OREGANO */

    .texto-infaltable {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 2.8rem; 
    }

    .texto-nos-define {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 2.6rem;
    }

    .foto-circulo {
      width: 300px;
      height: 300px;        
      background-size: cover;
      border-radius: 50%;
      margin: 0 auto;
      /*border: 2px solid #242c34;;*/
    }

    .texto-circulo {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 1.8rem;
    }

    .texto-circulo-verde {
      font-family: 'Montserrat-500', sans-serif ;    
      font-size: 1.8rem;
      line-height: 1.5;
      color: #76871E;  
      /*border-bottom: 2px solid #76871E;
      margin: 100px;*/
    }

    
    /* CONTACTENOS */

    .titulo-contactanos {
      font-family: 'Montserrat-500', sans-serif ;   
      font-size:4.2rem; 
      color: #76871E;  
      letter-spacing: 2px;
    }

    .cuadro-verde-contactanos {
      padding-left: 90px; 
      padding-right: 90px; 
      font-size: 2.3rem;
    }

    .icono-geo {
      font-size: 3rem; 
      font-weight:700;
    }
}

