
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
} 

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
} 

@font-face {
  font-family: "Montserrat-500";
  src: url("../fonts/Montserrat500.ttf");
} 

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplayRegular.ttf");
}  


html {
  height: 100%;
  line-height: 1.8;
}

body{
  height: 100%;                
  background: #ffffff;          
} 

.fontMontserrat{
  font-family: 'Montserrat-Regular', sans-serif; 
}

.fontMontserratLight{
  font-family: 'Montserrat-Light', sans-serif; 
}

.fontMontserrat500{
  font-family: 'Montserrat-500', sans-serif; 
}

.fontOpenSans{
  font-family: 'OpenSans-Regular', sans-serif; 
}

.fontPlayfair {
   font-family: 'PlayfairDisplayRegular', sans-serif;
}

.verde-muy-oscuro {
  color: #506c34;
}
.verde-oscuro {
  color: #76871E;  
}

.verde-medio {
  color: #A8AD00;
}

.verde-claro {
  color: #C2C54C;
}

.separador {
  width: 100%;
  height: 40px;
}

.barra-logo {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.logo {
  width: 70px;
}

.imagenDA {
  width: 250px;
}

.textoDA {
  font-weight: bold; 
  font-size: 0.7rem; 
  letter-spacing: 2px;
}

.sidebar {
  width: 35% !important;
  font-family: 'Montserrat-Regular', sans-serif !important;
  opacity: 1; 
  background-color:#ffffff; 
  transition: 1.5s;
}

.burger {
  width: 100px; 
  padding-right: 30px; 
}

.cruz {
  padding-top: 50px;
  padding-right: 50px;
}

.cruz-sidebar {    
  background: linear-gradient(90deg, #C2C54C, #76871E, #000000);
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  width: 100px;  
}

.cruz-sidebar:hover {    
  background: linear-gradient(90deg, #000000, #76871E, #C2C54C);
  font-size: 2.8rem;    
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
}

li {  
  width: 100%;
}

.sidebar-item {
  font-family: 'Montserrat-Regular', sans-serif !important;
  font-size: 1.1rem; 
  text-decoration: none;
  color:#242c34;    
  transition: 1s;
  padding: 16px 8px;
  display:inline-block;
  width: 100%;
}


.sidebar-item:hover {
  background-color: black !important;
  background-image: linear-gradient(135deg, #76871E,#ffffff);
  background-size:100%; 
  width: 100%;
}


.icono-sobre-imagen {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 60px;  
}

.texto-home {
  position: absolute;
  top: 200px;
}

.nos-encontramos-home {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 3rem;
  color: #ffffff;
  line-height: 0.9;
  letter-spacing: 1px;
  margin-bottom: 10px;

}

.en-la-provincia-home {
  font-family: 'Montserrat-Light', sans-serif ;    
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 1px;  
}

/* tiempo entre cada slide */
.carousel-item {
  transition: transform 3s ease-in-out;  
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 3s;  
}

/* NUESTRA EMPRESA */

.titulo-fundador {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 2.8rem;
  color: #000000;
  line-height: 0.9;
  letter-spacing: 1px;
}

.texto-fundador {
  font-family: 'Montserrat-500', sans-serif ;    
  font-size: 1rem;
  line-height: 1.5;
  color: #76871E;  
}

.bg-fundador {
  background-image: url(../images/fundador.jpg); 
  background-size: cover;
  height: 600px;
}

.texto-fundador-ejemplo {
  font-family: 'PlayfairDisplayRegular', sans-serif;
  font-size: 1.8rem; 
  color:rgb(80, 77, 77);
  padding-top: 150px;
  padding-left: 550px;
}

.cita-fundador {
  padding-left: 550px;
  margin-top: 20px;
}

.inchausti-fundador {
  font-family: 'PlayfairDisplayRegular', sans-serif;
  font-size: 1.1rem;
  font-style: italic; 
  font-weight: bold;
}

.boton{
  font-family: 'PlayfairDisplayRegular', sans-serif ;  
  font-size: 1.4rem; 
  padding: 10px;
  border: 0px;
  color: black;
  font-weight: bold;
  display: inline-block;
  transition: 0.9s;
  box-shadow: 0px 1px 3px gray;
  width: 250px !important; 
  background-color: #d3d3d3; 
}

.boton:hover{
  transform: scale(1);
  letter-spacing: 2px;
  background-color: #d3d3d3;
  color: #506c34;
}

/* fondo */
.oregano {
  background-image: url("../images/recorte.png");
  background-repeat: repeat;
  background-size: 100%;  
}

/* cuadros verdes */
.padding-lr-cuadros-verdes {
  padding-left: 12%; 
  padding-right: 12%;
}

.padding-bt-cuadros-verdes {
  padding-top: 12%; 
  padding-bottom: 12%;
}

.titulo-excelencia {
  font-family: 'PlayfairDisplayRegular', sans-serif ;    
  font-size: 2.8rem;
  color: #ffffff;
  line-height: 0.9;
  letter-spacing: 1px;
}


.texto-excelencia {
    font-family: 'Montserrat-Light', sans-serif ;    
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 1px;  
}

.linea-blanca {
  background-color: #ffffff;
  height: 3px;
  max-width: 13%;  
  padding: 0;
  margin-left: 12%;
}

.cuadro-texto {
  font-family: 'OpenSans-Regular', sans-serif; 
  font-style: italic;
  font-size: 2rem;
  color:#ffffff;
  padding: 6%;
  margin-left: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 20%;  
  border: 3px solid;  
}

/* EL OREGANO */

.texto-infaltable {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-size: 2rem; 
  color: white;
}

.texto-nos-define {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-style: italic; 
  font-weight: bold; 
  font-size: 1.8rem;
}

.foto-circulo {
  width: 200px;
  height: 200px;        
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  /*border: 2px solid #242c34;;*/
}

.foto-cuidado {
  background-image: url(../images/cuidado.png);
}

.foto-hojas {
  background-image: url(../images/hojas.png);
}

.foto-amor {
  background-image: url(../images/amor.png);
}

.linea-verde {
  background-color: #76871E;  
  height: 3px;
  max-width: 10%;  
  padding: 0;
  margin: 100px;
}

.texto-circulo-verde {
  font-family: 'Montserrat-500', sans-serif ;    
  font-size: 1rem;
  line-height: 1.5;
  color: #76871E;  
  border-bottom: 2px solid #76871E;
  margin: 100px;
}
      
.texto-circulo {
  font-family: 'PlayfairDisplayRegular', sans-serif ; 
  font-style: italic; 
  font-weight: bold; 
  font-size: 1rem;
}

/* CONTACTENOS */

.cuadro-mapa {
  padding: 40px;
}
.pie-de-pagina {
  background-color: rgb(201, 196, 196);
  margin-top: 0px;
  padding: 30px;    
  --bs-gutter-x: 0rem;
}

.pipeline {
  color: #76871E;
  font-family: 'Montserrat-ExtraBold', sans-serif; 
  font-size: 1.2rem; 
}

.pie-item {
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
  text-decoration: none;
  }

.pie-item:hover {
  font-family: 'Montserrat-Regular', sans-serif ;  
  color: #76871E;
  font-weight: bold;
  background-color:transparent !important;
  border-bottom: solid 2px #76871E;    
}

.red-pie-de-pagina {
  font-size: 2rem; 
  color: white;   
}

.red-pie-de-pagina:hover {
  background: linear-gradient(90deg, #000000, #76871E, #C2C54C);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; 
  /*color: #76871E;
  transform: scale(1.2);*/
}

/*-------------------------------------------------------------*/
/* la excelencia que nos eleva...*/
.posicion-1 {
  position: absolute;
  top: 50%;
  left: 55%; 
  color:rgb(51, 50, 50);     
}

.mov1 {
  animation-name: mov1-animation;
  animation-duration: 5s;
  animation: mov1-animation 5s;
  animation-timing-function: ease-in;
}

@keyframes mov1-animation {
  from {left: 55%; color:transparent;}
  to {left: 55%; color: black;}
}

/* nos conduce a alcanzar */
.posicion-2 {
  position: absolute;
  top: 61%;
  left: 13%;    
  color:rgb(51, 50, 50);    
}

.mov2 {
  animation-name: mov2-animation;
  animation-duration: 4s;
  animation: mov2-animation 4s;
  animation-timing-function: ease-out;
}

@keyframes mov2-animation {
  from {top: 70%; color:transparent;}
  to {top: 61%; color:black;}
}

/* nuestros mayores objetivos */
.posicion-3 {
  position: absolute;
  top: 50%;
  left: 58%; 
  color:rgb(51, 50, 50);       
}

.mov3 {
  animation-name: mov3-animation;
  animation-duration: 4s;
  animation: mov3-animation 4s;
  animation-timing-function: ease-out;
}

@keyframes mov3-animation {
  from {top: 40%; color:transparent;}
  to {top: 50%; color:black;}
}

/* esencia empresarial */
.posicion-4 {
  position: absolute;
  top: 47%;    
  color: white;    
}

.mov4 {
  animation-name: mov4-animation;
  animation-duration: 8s;
  animation: mov4-animation 8s;
  animation-timing-function: ease-in;
}

@keyframes mov4-animation {
  from {top: 47%; color:transparent;}
  to {top: 47%; color: white;}
}


table.centrada {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}


.equipoejecutivo {
  background-color: #242c34;
  background-image: linear-gradient(135deg, #242c34,#36424e);
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #ffffff;
	--c2: #242c34;
}

.equipo-card {
  text-align:center; 
  color:gray; 
  font-family: 'Bellota-Regular';     
  border: 5px solid transparent;
}

.equipo-card:hover {
  color:#ffffff;
  border: 5px solid;
  /*  border-image: linear-gradient(135deg, #242c34,white ) 1;  */
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear  ; 
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

.equipo-card-nombre {    
  font-size: 1.3rem;
}

.equipo-card-nombre::after{
  font-family: 'Bellota-Regular', sans-serif ;  
  display:block;
  content: '';
  border-bottom: solid 2px #c0ad98; 
  transform: scaleX(0);  
  transition: transform 800ms ease-in-out;
}

.equipo-card-nombre:hover:after {
  transform: scaleX(0.8);
}


.linea-iconos-contacto {
  position: relative; 
  display: inline-block;
  top: 35%; 
  padding-bottom: 10%; 
  left: 0px;
  text-align: center;
  color: white; 
  font-size: 4rem; 
  letter-spacing: 80px;
  width:100%;
}
  
.zoom {
  transition: transform .8s; 
}

.zoom:hover {
    transform: scale(1.2);      
}


/*--------------------------------------------- CELULAR -------------------------------------------------------*/

@media screen and (max-width: 768px) {


}


/*------------------------ PANTALLA HD -------------------------------------*/
@media screen and (min-width:1441px) {

  .separador {
    width: 100%;
    height: 70px;
  }
     
    .barra-logo {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 100px;
    }

    .logo {
      width: 120px;      
    }

    .imagenDA {
      width: 330px;
    }

    .textoDA {
      font-weight: bold; 
      font-size: 1rem; 
      letter-spacing: 2px;
    }


    .burger {
      width: 130px; 
      padding-right: 30px; 
    }
        
    .cruz {
      padding-top: 70px;
      padding-right: 60px;
    }

    .cruz-sidebar {
      font-size: 3.8rem;
    }
    
    .cruz-sidebar:hover {    
      font-size: 3.8rem;       
    }

    .sidebar-item {
      font-family: 'Montserrat-Regular', sans-serif;
      font-size: 1.7rem;
    }

    .letras-sobre-imagen-home {      
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 1px;
    }

    .icono-sobre-imagen {
      position: absolute;
      top: 40px;
      right: 65px;
      width: 80px;  
    }

    .texto-home {
      position: absolute;
      top: 250px;
    }

    .nos-encontramos-home {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 15px;
    }

    .en-la-provincia-home {      
      font-size: 1.5rem;
    }

    /* NUESTRA EMPRESA */

    .titulo-fundador {
      font-size: 3.8rem;
    }

    .texto-fundador {  
      font-size: 1.8rem;
    }

    .bg-fundador {
      background-image: url(../images/fundador.jpg); 
      background-size: cover;
      height: 800px;
    }

    .texto-fundador-ejemplo {
      font-size: 2.5rem;      
      padding-top: 200px;
      padding-left: 750px;
    }

    .cita-fundador {
      padding-left: 750px;
      margin-top: 35px;
    }

    .inchausti-fundador {
      font-family: 'PlayfairDisplayRegular', sans-serif;
      font-size: 2rem;
    }

    .boton{
      font-family: 'PlayfairDisplayRegular', sans-serif ;  
      font-size: 2.4rem; 
      padding: 12px; 
      width: 400px !important;
    }

    /* cuadros verdes */

    .titulo-excelencia {
      font-family: 'PlayfairDisplayRegular', sans-serif ;    
      font-size: 3.8rem;
    }

    .texto-excelencia {
        font-family: 'Montserrat-Light', sans-serif ;    
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 1px;  
    }

    .cuadro-texto {
      font-family: 'OpenSans-Regular', sans-serif; 
      font-style: italic;
      font-size: 2.8rem;
    }
      
    /* EL OREGANO */

    .texto-infaltable {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 2.8rem; 
    }

    .texto-nos-define {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 2.6rem;
    }

    .foto-circulo {
      width: 300px;
      height: 300px;        
      background-size: cover;
      border-radius: 50%;
      margin: 0 auto;
      /*border: 2px solid #242c34;;*/
    }

    .texto-circulo {
      font-family: 'PlayfairDisplayRegular', sans-serif ; 
      font-size: 1.8rem;
    }

    .texto-circulo-verde {
      font-family: 'Montserrat-500', sans-serif ;    
      font-size: 1.8rem;
      line-height: 1.5;
      color: #76871E;  
      border-bottom: 2px solid #76871E;
      margin: 100px;
    }
    
    /* CONTACTENOS */
}

